
/* shared styles */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #e1d9d9;
}
/* Nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
     color: black;
font-size: 45px;
font-weight: 800;
}

.text-primary{
    color: #FD6E0A;

}

.btn-primary{
 background-color: #FD6E0A;
 border-radius: 5px;
 padding: 15px 35px;
 color: white;
 font-weight: 800;
 border-color: white;

}

nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    margin-right: 20px;
}

/* header related style  */
.header{
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.banner-content{
    max-width: 500px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
}
.banner-greeting{
    font-size: 45px;
    color: #9f9d9d;
    margin-bottom: 0;
    margin-top: 5px;
}
.banner-description{
    font-size: 18px;
    color: hsl(0, 1%, 38%);
    font-weight: 400px;
    
}

/* main section styles  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{

}
main section{
    margin-top: 130px;

}
/* about section styles  */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 150px 150px 150px 150px;
}
.section-title{
    text-align: center;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #474747;
    
}
.info-description{
    color: #474747;
    
  
}

#what-i-do-description{
    padding: 30px 150px;
}

/* what i do section  */
.skills-container{
    display: flex;
    justify-content: center;
 padding: 90px -10px 0px 0;
 margin-bottom: 50px;

}
.skill-title{
   font-weight: 700;
   font-size: 20px;
}
.skill{
    /* border: 1px solid #fefafa; */
    margin-right: 20px;
    
     background-color: #fff8f8;
     border-radius: 4px;
     padding: 5px 5px;
 
}
.skill-description{
    color: #757575;
}

/*....... resume container ............ */
.resume-container{
display: flex;
gap: 50px;
}
.resume-column{
    
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    
}
.resume-item{

}
.resume-item-title{
font-size: 25px;
color:#474747 ;
margin-bottom: 10px;
}
.resume-item-institute{
color: #474747;
font-size: 20px;
margin-bottom: 20px;
margin-top: 0;
}
.resume-item-description{
font-size: 16px;
color:#474747;
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* ...........footer style ....................... */
footer{
    display: flex;
  justify-content: space-around;
  background-color: #FFF8F3;
  padding: 130px 200px;
 
 
}
.footer-column{
 width: 50%;
}
.footer-column-title{

}
.footer-column-description{

}
.social-links a{
margin-right: 25px;
}
.contact input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    font-size: 16px;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    border: 0;
    width: 100%;
}