
/* shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}
/* Nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
     color: black;
font-size: 45px;
font-weight: 800;
}

.text-primary{
    color: #FD6E0A;

}

.btn-primary{
 background-color: #FD6E0A;
 border-radius: 5px;
 padding: 15px 35px;
 color: white;
 font-weight: 800;
 border-color: white;

}

nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    margin-right: 20px;
}

/* header related style  */
.header{
    background-color: #fff;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner-content{
    max-width: 500px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
    margin-top: 5px;
}
.banner-description{
    font-size: 18px;
    color: #757575;
    font-weight: 400px;
    
}

/* main section styles  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{

}
/* about section styles  */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 150px 150px 150px 150px;
}
.section-title{
    text-align: center;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #474747;
    
}
.info-description{
    color: #474747;
    
  
}